/* Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, input, button, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #bda3dc;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo img {
    max-width: 150px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="time"], input[type="number"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #410866;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #200438;
}

.bike-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bike {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 45%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.bike img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.bike h3 {
    margin-bottom: 10px;
    color: #63109a;
}

.bike p {
    margin-bottom: 10px;
}

/* Additional styling for specific pages */

/* Login Page */
.login-container {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.login-button {
    padding: 12px;
    background-color: #440e6a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #21073b;
}
